html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}

.jumbotron p {
	font-size: 13px;
	line-height: 1.5em;
}

.jumbotron p i {
	color: #FFA21F;
}

#h-about {
	color: #FFA21F;
	/*font-size: 74px;*/
	width: 100%;
	text-align: center;
}

.jumbotron {
	height: 100%;
	display:flex;
	justify-content:center;
	align-items:center;
	margin: 0px;
	border-radius: 0px;
}

.content {
	width: 70%;
	text-align: justify;
}

.picMe {
    margin-bottom: 40px;
    text-align: center;

}

.picMe img {
	max-height: 300px;
	display: inline-block;
}

#header {
	/*background-image: url("../img/water.jpg");*/
	background-repeat: repeat;
}

.back1 {
	background-image: url("../img/back1.png");
	background-repeat: repeat;
}

.back2 {
	background-image: url("../img/back2.png");
	background-repeat: repeat;
}

.back3 {
	background-image: url("../img/back3.png");
	background-repeat: repeat;
}

.stardust {
	background-image: url("../img/stardust.png");
	background-repeat: repeat;
	color: #F0F0F0;
}

.jumbotron h1 {
	text-transform: uppercase;
}

