html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
    line-height: 1.42857143;
    
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  color: #333
  margin: 0;
  background-image: url("pics/water.jpg");
}

h1 {
  margin: .67em 0;
  font-family: 'Josefin Sans', sans-serif !important;
}

.jumbotron {
  margin-top:40px;
  padding: 20px;
  margin-bottom: 40px;
  color: inherit;
  background-color: rgba(238,238,238,0.85) ; /*#eee*/
  text-align: center;

}
.jumbotron h1,
.jumbotron .h1 {
  color: inherit;
}
.jumbotron p {
  margin-bottom: 15px;
  font-size: 16px; /*EDIT*/
  font-weight: 200;
}