html,
body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  color: rgba(30, 45, 60, 0.6);
}
.extra-info,
.header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.extra-info .column {
  min-height: 150px;
  -webkit-flex: 1 1 190px;
  -ms-flex: 1 1 190px;
  flex: 1 1 190px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  padding: 20px;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.extra-info .column:nth-child(1) {
  background-color: #D8E2DC;
}
.extra-info .column:nth-child(2) {
  background-color: #FFE5D9;
}
.extra-info .column:nth-child(3) {
  background-color: #FFCAD4;
}
.extra-info .column:nth-child(4) {
  background-color: #F4ACB7;
}
.extra-info .column .title {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  line-height: 1.1;
  font-size: 24px;
  text-align: center;
}
.extra-info .column .title.extra-padding {
  padding-bottom: 10px;
}
.extra-info .column .text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
}
.links {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  color: white !important;
  -webkit-align-self: flex-end;
  -ms-align-self: flex-end;
  align-self: flex-end;
  padding: 0 20px;
}
.links a {
  color: white !important;
  padding-left: 10px;
  padding-right: 10px;
}
.header {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #9D8189;
}
.header .column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.header .column.text {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.header .main-title,
.header .sub-title {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  line-height: 1.1;
  padding-left: 20px;
}
.header .main-title {
  font-size: 72px;
  color: #eeeeee;
}
.header .sub-title {
  font-size: 24px;
  color: #eeeeee;
  padding-top: 20px;
}
.header .header-img {
  width: 100%;
  height: 100%;
  background-image: url("profile.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  min-width: 250px;
  min-height: 300px;
}
@media only screen and (max-width: 700px) {
  .header {
    min-height: 100vh;
  }
  .main-title {
    font-size: 60px !important;
  }
  .extra-info {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
