<div class="jumbotron">
	<div class="p-flex center"><span class="bigger">Året 2016 spelade Lindö FF {{getNumberOfGames}} st matcher i Division 2</span></div>
</div>
<div class="my-container">

	<div class="align-row">
		<div class="p-flex align-over">
			<div class="bigger win">{{getWins}}</div>
			<div>vinster</div>
		</div>
		<div class="p-flex align-over">
			<div class="bigger draws">{{getDraws}}</div>
			<div>oavgjorda </div>
		</div>
		<div class="p-flex align-over">
			<div class="bigger loose">{{getLooses}}</div>
			<div>förluster!</div>
		</div>
	</div>


	<div class="align-row">
		<div class="align-over">
			<div><span class="bigger">{{nrOfGoals}}</span></div>
			<div><i class="fa fa-futbol-o" aria-hidden="true"></i> mål</div>
		</div>
		<div class="align-over">
			<div><span class="bigger">{{snittGoal}}</span> mål</div>
			<div>per match</div>
		</div>
		<div class="align-over">
			<div><span class="bigger">{{scorers.length}}</span> st</div>
			<div>målskyttar</div>
		</div>
	</div>

	<div class="align-row">
		<div class="align-over">
			<div>Höll <span class="bigger">0</span>:an</div>
			<div>{{zeroGoalsGames.length}} <span class="smaller">matcher</span></div>
		</div>
		<div class="align-over">
			<div><span class="bigger">{{concededGoals}}</span></div>
			<div class="smaller">insläppta mål</div>
		</div>
		<div class="align-over">
			<div><span class="bigger">{{(concededGoals/getNumberOfGames).toFixed(2)}}</span> <span class="smaller">mål</span></div>
			<div
				class="smaller"> insläppta per match</div>
	</div>
</div>


<div class="align-row">
	<div class="align-over">
		<div><span class="bigger">{{goalsHome.length}}</span></div>
		<div><i class="fa fa-futbol-o" aria-hidden="true"></i> mål hemma</div>
	</div>
	<div class="align-over">
		<div><span class="bigger">{{goalsAway.length}}</span></div>
		<div><i class="fa fa-futbol-o" aria-hidden="true"></i> mål borta</div>
	</div>
</div>


<hr>

<div class="p-flex">
	Tidsintervall för gjorda/insläppta mål
	<select [(ngModel)]="timelineSpan" (ngModelChange)="convertToNr($event)">
            <!--<option value="1">1 min</option>-->
            <option value="5">5 min</option>
            <option value="15">15 min</option>
            <option value="45">45 min</option>
        </select>
</div>
<br> Mål / insläppta mål över alla matcher i serien.
<div class="goal-timeline">
	<div class="goal-min" *ngFor="let timeSpan of timeSpanArray(timelineSpanNr)">
		<div class="nr-goals" *ngIf="goalsBetweenMin(timeSpan[0],timeSpan[1]).length !== 0">{{goalsBetweenMin(timeSpan[0],timeSpan[1]).length}}</div>
		<div class="nr-goals" *ngIf="goalsBetweenMin(timeSpan[0],timeSpan[1]).length === 0"></div>
		<div class="barHeight" [style.height.px]="heightTimeline[timelineSpanNr] * goalsBetweenMin(timeSpan[0],timeSpan[1]).length"></div>
		<div class="lbl lbl-goal" *ngIf="timeSpan[0] !== timeSpan[1]">
			{{timeSpan[0]}}-{{timeSpan[1]}}
		</div>
		<div class="lbl lbl-goal" *ngIf="timeSpan[0] === timeSpan[1]">
			{{timeSpan[0]}}
		</div>
	</div>
</div>
<div class="goal-conceded-timeline">
	<div class="goal-min" *ngFor="let timeSpan of timeSpanArray(timelineSpanNr)">
		<div class="bar-condeded barHeight " [style.height.px]="heightTimeline[timelineSpanNr] * concededGoalsBetweenMin(timeSpan[0],timeSpan[1]).length"></div>
		<div class="nr-goals" *ngIf="concededGoalsBetweenMin(timeSpan[0],timeSpan[1]).length !== 0">{{concededGoalsBetweenMin(timeSpan[0],timeSpan[1]).length}}</div>
		<div class="nr-goals" *ngIf="concededGoalsBetweenMin(timeSpan[0],timeSpan[1]).length === 0"></div>
		<div class="lbl lbl-goal hidenn" *ngIf="timeSpan[0] !== timeSpan[1]">
			{{timeSpan[0]}}-{{timeSpan[1]}}
		</div>
		<div class="lbl lbl-goal hidenn" *ngIf="timeSpan[0] === timeSpan[1]">
			{{timeSpan[0]}}
		</div>
	</div>
</div>


Mål/insläppta hemma:
<div class="goal-timeline">
	<div class="goal-min" *ngFor="let timeSpan of timeSpanArray(timelineSpanNr)">
		<div class="nr-goals" *ngIf="goalsBetweenHomeMin(timeSpan[0],timeSpan[1]).length !== 0">{{goalsBetweenHomeMin(timeSpan[0],timeSpan[1]).length}}</div>
		<div class="nr-goals" *ngIf="goalsBetweenHomeMin(timeSpan[0],timeSpan[1]).length === 0"></div>
		<div class="barHeight" [style.height.px]="heightTimeline[timelineSpanNr] * goalsBetweenHomeMin(timeSpan[0],timeSpan[1]).length"></div>
		<div class="lbl lbl-goal" *ngIf="timeSpan[0] !== timeSpan[1]">
			{{timeSpan[0]}}-{{timeSpan[1]}}
		</div>
		<div class="lbl lbl-goal" *ngIf="timeSpan[0] === timeSpan[1]">
			{{timeSpan[0]}}
		</div>
	</div>
</div>
<div class="goal-conceded-timeline">
	<div class="goal-min" *ngFor="let timeSpan of timeSpanArray(timelineSpanNr)">
		<div class="bar-condeded barHeight " [style.height.px]="heightTimeline[timelineSpanNr] * concededGoalsHomeBetweenMin(timeSpan[0],timeSpan[1]).length"></div>
		<div class="nr-goals" *ngIf="concededGoalsHomeBetweenMin(timeSpan[0],timeSpan[1]).length !== 0">{{concededGoalsHomeBetweenMin(timeSpan[0],timeSpan[1]).length}}</div>
		<div class="nr-goals" *ngIf="concededGoalsHomeBetweenMin(timeSpan[0],timeSpan[1]).length === 0"></div>
		<div class="lbl lbl-goal hidenn" *ngIf="timeSpan[0] !== timeSpan[1]">
			{{timeSpan[0]}}-{{timeSpan[1]}}
		</div>
		<div class="lbl lbl-goal hidenn" *ngIf="timeSpan[0] === timeSpan[1]">
			{{timeSpan[0]}}
		</div>
	</div>
</div>

Mål/insläppta borta:
<div class="goal-timeline">
	<div class="goal-min" *ngFor="let timeSpan of timeSpanArray(timelineSpanNr)">
		<div class="nr-goals" *ngIf="goalsBetweenAwayMin(timeSpan[0],timeSpan[1]).length !== 0">{{goalsBetweenAwayMin(timeSpan[0],timeSpan[1]).length}}</div>
		<div class="nr-goals" *ngIf="goalsBetweenAwayMin(timeSpan[0],timeSpan[1]).length === 0"></div>
		<div class="barHeight" [style.height.px]="heightTimeline[timelineSpanNr] * goalsBetweenAwayMin(timeSpan[0],timeSpan[1]).length"></div>
		<div class="lbl lbl-goal" *ngIf="timeSpan[0] !== timeSpan[1]">
			{{timeSpan[0]}}-{{timeSpan[1]}}
		</div>
		<div class="lbl lbl-goal" *ngIf="timeSpan[0] === timeSpan[1]">
			{{timeSpan[0]}}
		</div>
	</div>
</div>
<div class="goal-conceded-timeline">
	<div class="goal-min" *ngFor="let timeSpan of timeSpanArray(timelineSpanNr)">
		<div class="bar-condeded barHeight " [style.height.px]="heightTimeline[timelineSpanNr] * concededGoalsAwayBetweenMin(timeSpan[0],timeSpan[1]).length"></div>
		<div class="nr-goals" *ngIf="concededGoalsAwayBetweenMin(timeSpan[0],timeSpan[1]).length !== 0">{{concededGoalsAwayBetweenMin(timeSpan[0],timeSpan[1]).length}}</div>
		<div class="nr-goals" *ngIf="concededGoalsAwayBetweenMin(timeSpan[0],timeSpan[1]).length === 0"></div>
		<div class="lbl lbl-goal hidenn" *ngIf="timeSpan[0] !== timeSpan[1]">
			{{timeSpan[0]}}-{{timeSpan[1]}}
		</div>
		<div class="lbl lbl-goal hidenn" *ngIf="timeSpan[0] === timeSpan[1]">
			{{timeSpan[0]}}
		</div>
	</div>
</div>
</div>
