body {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    background: white;
    font-size: 18px;
}

.my-container {
    max-width: 800px;
    padding: 40px 60px 60px 60px;
    margin-left: auto;
    margin-right: auto;
}

.align-row {
    display: flex;
    flex-direction: row;
        margin-bottom: 25px;
}

.align-over {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.center {
    justify-content: center;
}

.p-flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: stretch;
    margin-top: 10px;
    margin-bottom: 10px;
}

.jumbotron {
    margin-bottom: 0px !important;
    padding-left: 20px;
    padding-right: 20px;
}

.win {
    color: #2ecc71;
}

.draws {
    color: #f1c40f;
}

.goals {
    font-size: 18px;
    flex-basis: 70%;
}



.barHeight{
    /*width: 40px;*/
    height: 20px;
    background-color: #2ecc71;  
    /*#2c3e50;*/
}

.bar-condeded {
    background-color: #e74c3c;
}

.lbl-goal {
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: center;
}

.lbl {
    font-family: 'Oleo Script', cursive;
    font-size: 8px;
}

.nr-goals {
    text-align: center;
    font-size: 8px;
}

.goal-min {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-right: 4px;
}

.hidenn {
    opacity: 0;
}

.goal-timeline {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.goal-conceded-timeline {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

select {
    border-color: #ECF5B0;
}


.loose {
    color: #e74c3c;
}

.bigger {
    font-size: 30px;
}

.smaller {
    font-size: 14px;
}

@media screen and (max-width: 480px) {
    body {
        font-size: 14px;
    }
    .my-container {
        padding: 20px;
}

    .bigger {
    font-size: 30px;
}

.smaller {
    font-size: 10px;
}

}

/*

font-family: 'Oleo Script', cursive;
font-family: 'Oswald', sans-serif; 300 eller 400*/ 